<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Scoreboard</title>
    <% include ./partials/scripts.ejs %>
    <script>
      $(document).ready(function(){
        $.ajax({
            method: "GET",
            dataType: "json",
            url: "/get_all_scores",
            success:
              function(data) {
                class ScoreResponse{
                  constructor(scores, exhibit, evaluator, average, surveyScore){
                    this.scores = scores;
                    this.exhibit = exhibit;
                    this.evaluator = evaluator;
                    this.average = average;
                    this.surveyScore = surveyScore;
                  }
                }
                var scoreResponse = [];
                for(var z = 0;  z < data.length; z++){
                  var array = data[z].scores;
                  var average = 0;
                  var surveyScore = 0;
                  var sum = 0;
                    for(var i = 0; i < array.length; i++){
                      if(i < array.length){
                        sum = sum + parseInt(array[i]);
                        if(i == (array.length - 1)){
                          average = sum / array.length;

                        }
                      }
                    }
                    scoreResponse.push(new ScoreResponse(data[z].scores, data[z].exhibit, data[z].evaluator, average, sum));
                }
                var table = $('#scoreboard').DataTable( {
                  "order": [[ 0, "asc" ]],
                  "scrollY" :        "300px",
                  "scrollX" :        "true",
                  "scrollCollapse" : "true",
                  "paging" :         "false",
                  "bAutoWidth" : false,
                  "aaData" : scoreResponse,
                  dom: 'Bfrtip',
                    "columnDefs": [ {
                        "targets": null,
                        "className": "dt-center",
                        "data": scoreResponse,
                        "defaultContent": "-"
                    } ],
                    buttons: [
                        'print'
                    ],
                    "columns" : [
                         {
                            data : "exhibit",
                            "defaultContent": "-"
                          },
                         {
                           data : "evaluator",
                           "defaultContent": "-"
                         },
                          {
                             data : "scores",
                             "defaultContent": "-"
                           },
                           {
                              data : "surveyScore",
                              "defaultContent": "-"
                            }
                         ]
                } );
            },
          error:
            function(data) {
                alert("Getting all data failed. Please try again");
              }
          } );
        });
  </script>
  </head>
  <body>
    <% include ./partials/header.ejs %>
    <div class="container">
      <div class="container">
        <p class="newFontStyle1">Detailed Scoreboard</p>
        <table id="scoreboard" class="display"  style="width:100%">
            <thead>
                <tr>
                    <th>Exhibit</th>
                    <th>Evaluator</th>
                    <th>Scores</th>
                    <th>Survey Score</th>
                </tr>
            </thead>
        </table>
      </div>
  </body>
</html>
